<template>
    <button class="btn btn-default" v-bind:class="{'btn-success':followed}" v-text="text" v-on:click="follow"></button>
</template>

<script>
    export default {
        props: ['question', 'user'],
        mounted() {
            this.$http.post('/api/questions/follower', {'question': this.question, 'user': this.user}).then(response=> {
                this.followed = response.data.followed
            })
        },
        data(){
            return {
                followed: false
            }
        },
        computed: {
            text(){
                return this.followed ? 'Followed' : 'Follow'
            }
        },
        methods: {
            follow(){
                this.$http.post('/api/questions/follow', {
                    'question': this.question,
                    'user': this.user
                }).then(response=> {
                    this.followed = response.data.followed
                })
            }
        }
    }
</script>
